@import '../../Variables.css';

.controll__ {
    display: flex;
    background-color: var(--main-color) ;
    border-radius: 30px 0 0 30px;
    padding: 10px;
    width: 250px;
    box-shadow: 1px 0px 2px .1px gray;
}

.controll__nav {
    margin-top: 20px;
}

.controll__item {
    display: table;
}

.controll__item:hover {
	border-bottom: 2px solid var(--font-color);
}

.controll__item a {
    font-size: 24px;
    text-decoration: none;
}

.controll__item a.active {
    text-shadow: 2px 2px black;
}

.controll__item a:hover {
    text-shadow: 2px 2px black;
}
