.newTemplate__ {
    width: 800px;
}

.newTemplate__row {
    display: flex;
}

.newTemplate__nameValueRow {
    display: flex;
    width: 100%;
}

.newTemplate__nameValueRow__name {
    width: 80px;
}

.newTemplate__nameValueRow__value { 
    width: 100%;
}


.newTemplate__header {
    text-align: center;
}

.newTemplate__header_H {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 32px;
    color: red;
}

.newTemplate__text {

}
.newTemplate__sides {
    display: flex;   
    width: 100%;
}

.newTemplate__leftSide { 
    width: 100%;
}   

.newTemplate__controls * { 
    width: 100%;
}

.newTemplate__fields {
    min-height: 600px;
}